/* background-color: black; */
/* rgb values start from 0 and end at 255 No. */
/* body{
background-color: rgb(255, 255, 80);
}

.primary{
    color: blue;
}body{

.secondary{
    background-color: rgba(255, 0, 255, 0.491);
    color: black;
} */

body{
    font-family: sans-serif;
    line-height: 50px;
    font-weight: lighter;
    /* for changing font style */
    font-style: oblique;
    /* for font sizing */
    font-stretch:narrower;
}

/* h1{
    font-weight: 1000;
} */

.text-style{
    font-style: oblique;
    font-stretch: condensed;
    font-weight: lighter;
    font-weight: 14px;
}